<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="topMenuMapper">
 <sql id="selectWhere">
 	<if test="조건문">
 	where
 	</if>
 </sql>

<select id="selectMenu">
select * from tbl_top_menu
<!-- <include refid="selectWhere" /> -->
</select>

<insert id="insertMenu">
insert into tbl_top_menu values(
#(menu_no),
#(menu_name),
#(menu_order)
)
</insert>


</mapper>